.jobList {
  background: #FFFFFF;
 
  
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 80%;
  margin: 0 auto;
}

.jobItem {
  font-size: 14px;
  color: #313131;
  padding: 8px 16px;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box, 
              linear-gradient(90deg, #8A01DA, #F2DDFF) border-box;
  border-radius: 8px;
  text-align: center;
}


.jobItem:nth-child(odd) {
  margin-left: 20px; 
}

.jobItem:nth-child(even) {
  margin-right: 20px; 
}

.jobItem:nth-child(3),
.jobItem:nth-child(4) {
  margin-left: 0px; 
  margin-right: 0px; 
}

.jobItem:nth-child(5),
.jobItem:nth-child(6) {
  margin-left: 20px; 
  margin-right: 20px; 
}
